@import "variaveis.less";
@import "funcoes.less";

hr {
  border-color:#ededed;
}
.bold{
  font-weight:bold;
}
.blue-lpwd{
  background-color: @bluelpwd !important;
}
.blue-lpwd-text{
  color: @bluelpwd !important;
}
.grey-lpwd{
  background-color:@greylpwd !important;
}
.grey-lpwd-text{
  color:@greylpwd !important;
}
.bg-conhecimentos{
  background-image: url("../img/bg-banner-conhecimentos.jpg");
}
